<!DOCTYPE html>
<html lang="en">
  <% var title = "Home | Bid for the product or the service you need" -%>
  <% var image = "/static/img/fav.png" -%>
  <% var description = "Bid for the product or the service you need." -%>
  <%- include('../partials/meta', {
    title: title, image: image, description: description
  }); -%>
  <body>
    <%- include('../partials/apps/home'); -%>
  </body>
</html>